<header class="text-white text-sm font-medium w-full ">
  <div
    class="mx-auto flex flex-wrap px-10 py-3 flex-col md:flex-row justify-center content-center items-center gap-5 bg-gray-900 menubar z-50"
  >
    <!-- Asegúrate de que la clase items-end está aplicada aquí si quieres alinear los elementos al final (abajo) -->
    <nav
      class="md:ml-auto flex flex-wrap items-end justify-center gap-5"
    >
      <a class="hover:text-gray-900 hover:bg-gray-100 hover:rounded-xl p-4 hover:cursor-pointer">First Link</a>
      <a class="hover:text-gray-900 hover:bg-gray-50 hover:rounded-xl p-4 hover:cursor-pointer ">Second Link</a>
      <a class="hover:text-gray-900 hover:bg-gray-50 hover:rounded-xl p-4 hover:cursor-pointer ">Third Link</a>
      <a class="hover:text-gray-900 hover:bg-gray-50 hover:rounded-xl p-4 hover:cursor-pointer ">Fourth Link</a>
    </nav>

    <!-- <a
      href="#"
      class="flex items-center gap-2  p-4  hover:rounded-xl"
    >
      <img
        alt=""
        src="https://images.unsplash.com/photo-1600486913747-55e5470d6f40?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80"
        class="size-10 rounded-full object-cover"
      />


    </a> -->
  </div>
</header>
